{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/coin-profile-details.css' %}">

    <title>User Details</title>

</head>

<body>
    <header>
        <h1><a class="home" href="{% url 'index' %}">Crypto Portfolio</a></h1>
        <nav>
            {% if request.user.is_authenticated and not request.user.is_superuser %}
                <a href="{% url 'products' %}">Products</a>
                <a href="{% url 'dashboard' %}">My Portfolio</a>
                <a href="{% url 'details user' pk=object.pk %}">Profile</a>
                <a href="{% url 'logout user' %}">Sign Out</a>
            {% elif request.user.is_superuser %}
                <a href="{% url 'products' %}">Products</a>
                <a href="{% url 'add product' %}">Add Product</a>
                <a href="{% url 'details user' pk=object.pk %}">Profile</a>
                <a href="{% url 'logout user' %}">Sign Out</a>
            {% endif %}
        </nav>
    </header>

    <div class="card">
      <div class="photo">
        <img src="{{ object.profile_picture }}" alt="profile-image">
      </div>
      <div class="description">
        <h2>{% if object.first_name %}{{ object.first_name }}{% endif %}
            {% if object.last_name %}{{ object.last_name }}{% endif %}</h2>
        <h4>Email : {{ object.email }}</h4>
        <h1>Age : {{ object.age }}</h1>
          <h1>Total Coins : {{ products_count }}</h1>
          <h1>Portfolio value : {{ total_portfolio_value }}</h1>
        <p></p>
        <button type="submit" onclick="location.href='{% url 'edit user' pk=object.pk %}'">Edit</button>
        <button type="submit" onclick="location.href='{% url 'delete user' pk=object.pk %}'">Delete</button>
      </div>
    </div>
</body>

</html>
