{% load static %}
{#<!DOCTYPE html>#}
{#<html lang="en">#}
{##}
{#<head>#}
{#    <meta charset="UTF-8">#}
{#    <meta name="viewport" content="width=device-width, initial-scale=1.0">#}
{#    <link rel="stylesheet" href="{% static '/styles/style.css' %}">#}
{#    <title>GamesPlay</title>#}
{#</head>#}
{##}
{#<body>#}
{#<div id="box">#}
{#    <header>#}
{##}
{#        <!-- navigation bar-->#}
{#        <h1><a class="home" href="{% url 'index' %}">GamesPlay</a></h1>#}
{#        <nav>#}
{#            <a href="{% url 'dashboard' %}">Dashboard</a>#}
{#            <a href="{% url 'add coin' %}">Create Game</a>#}
{#            <a href="{% url 'details user' pk=object.pk %}">Profile</a>#}
{#            <a href="{% url 'logout user' %}">Sign Out</a>#}
{#        </nav>#}
{#    </header>#}
{##}
{#    <!-- profile details section -->#}
{#    <section id="game-details">#}
{#        <h1>Profile Details</h1>#}
{#        <div class="info-section">#}
{#            <div class="game-header">#}
{#                <!-- default profile image (if the user does NOT have any)-->#}
{#                {% if not object.profile_picture %}#}
{#                    <img class="game-img" src="{% static '/images/default-user.jpg' %}" alt='profile-image'/>#}
{#                {% else %}#}
{#                <!-- if the user has a profile image -->#}
{#                    <img class="game-img" src="{{ object.profile_picture }}" alt='profile-image'/>#}
{#                {% endif %}#}
{#                <!-- user full name (if any) -->#}
{#                    <h1>{% if object.first_name %}{{ object.first_name }}{% endif %}#}
{#                        {% if object.last_name %}{{ object.last_name }}{% endif %}</h1>#}
{#                <!-- user email -->#}
{#                <p class="text">Email: {{ object.email }}</p>#}
{#                <!-- user age -->#}
{#                <p class="text">Age: {{ object.age }}</p>#}
{#                <!-- total number of games -->#}
{#                <p class="text">Total products: {{ coins_count }}</p>#}
{#                <!-- average rating for all games -->#}
{#                <p class="text">Average rating: 2</p>#}
{#                <!-- Edit/Delete buttons -->#}
{#                <div class="buttons">#}
{#                    <a href="{% url 'edit user' pk=object.pk %}" class="button">Edit</a>#}
{#                    <a href="{% url 'delete user' pk=object.pk %}" class="button">Delete</a>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}
{#    <!-- footer -->#}
{#    <footer>#}
{#        &copy;SoftUni Team 2022. All rights reserved.#}
{#    </footer>#}
{#</div>#}
{#</body>#}
{#</html>#}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'styles/coin-profile-details.css' %}">

    <title>User Details</title>

</head>

<body>
    <header>
        <h1><a class="home" href="{% url 'index' %}">Crypto Portfolio</a></h1>
        <nav>
            {% if request.user.is_authenticated and not request.user.is_superuser %}
                <a href="{% url 'products' %}">Products</a>
                <a href="{% url 'dashboard' %}">My Portfolio</a>
                <a href="{% url 'details user' pk=object.pk %}">Profile</a>
                <a href="{% url 'logout user' %}">Sign Out</a>
            {% elif request.user.is_superuser %}
                <a href="{% url 'products' %}">Products</a>
                <a href="{% url 'add product' %}">Add Product</a>
                <a href="{% url 'details user' pk=object.pk %}">Profile</a>
                <a href="{% url 'logout user' %}">Sign Out</a>
            {% endif %}
        </nav>
    </header>

    <div class="card">
      <div class="photo">
        <img src="{{ object.profile_picture }}" alt="profile-image">
      </div>
      <div class="description">
        <h2>{% if object.first_name %}{{ object.first_name }}{% endif %}
            {% if object.last_name %}{{ object.last_name }}{% endif %}</h2>
        <h4>Email : {{ object.email }}</h4>
        <h1>Age : {{ object.age }}</h1>
          <h1>Total Coins : {{ products_count }}</h1>
          <h1>Portfolio value : </h1>
        <p></p>
        <button type="submit" onclick="location.href='{% url 'edit user' pk=object.pk %}'">Edit</button>
        <button type="submit" onclick="location.href='{% url 'delete user' pk=object.pk %}'">Delete</button>
      </div>
    </div>
</body>

</html>