{% load placeholders %}
{% load static %}
{#{% load placeholders %}#}
{#{% load static %}#}
{##}
{#<html lang="en">#}
{#<head>#}
{#    <title>Glassmorphism login Form Tutorial in html css</title>#}
{#    <link rel="stylesheet" href="{% static 'styles/login.css' %}">#}
{#    <link rel="preconnect" href="https://fonts.gstatic.com">#}
{#    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">#}
{#    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">#}
{#</head>#}
{#<body>#}
{#    <div class="background">#}
{#        <div class="shape"></div>#}
{#        <div class="shape"></div>#}
{#    </div>#}
{#    <form method="post" action="{% url 'login user' %}">#}
{#        <h3>Login Here</h3>#}
{##}
{#        {{ form }}#}
{##}
{#        <button type="submit">Log In</button>#}
{#        {% csrf_token %}#}
{#        <div class="social">#}
{#          <div class="go"><i class="fab fa-google"></i>  Google</div>#}
{#          <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div>#}
{#        </div>#}
{#    </form>#}
{#</body>#}
{#</html>#}


<!DOCTYPE html>
<html lang="">
<head>
	<title>Sign In</title>
	<link rel="stylesheet" type="text/css" href="{% static 'styles/login-register-edit-profile.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <h1><a class="home" href="{% url 'index' %}">Crypto Portfolio</a></h1>
        <nav>
            {% if request.user.is_authenticated and not request.user.is_superuser %}
                <a href="{% url 'dashboard' %}">My Portfolio</a>
                <a href="{% url 'details user' pk=user.pk %}">Profile</a>
                <a href="{% url 'logout user' %}">Sign Out</a>
            {% elif request.user.is_superuser %}
                <a href="">Products</a>
                <a href="{% url 'add product' %}">Add Product</a>
                <a href="{% url 'details user' pk=user.pk %}">Profile</a>
                <a href="{% url 'logout user' %}">Sign Out</a>
            {% else %}
                <a href="{% url 'login user' %}">Sign In</a>
                <a href="{% url 'create profile' %}">Create Profile</a>
            {% endif %}
        </nav>
    </header>

    <div class="main">
		<input type="checkbox" id="chk" aria-hidden="true">

			<div class="signup">
				<form method="post">
                    <label for="chk" aria-hidden="true">Sign In</label>
                    {{ form.username|placeholder:'Username:' }}
                    {{ form.password|placeholder:'Password:' }}
					<button type="submit">Sign In</button>
                    {% csrf_token %}
                    <div class="social">
                      <div class="go"><i class="fab fa-google"></i>  Google</div>
                      <div class="fb"><i class="fab fa-facebook"></i>  Facebook</div>
                    </div>
				</form>
			</div>
	</div>

</body>
</html>

