{% load placeholders %}
{% load static %}

<html lang="en">
<head>
    <title>Glassmorphism login Form Tutorial in html css</title>
    <link rel="stylesheet" href="{% static 'styles/login.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap" rel="stylesheet">
</head>
<body>
    <div class="background">
        <div class="shape"></div>
        <div class="shape"></div>
    </div>
    <form method="post" action="{% url 'logout user' %}">
        <h3>Are you sure you want to Log out?</h3>

        <button type="submit">Yes</button>
        {% csrf_token %}

    </form>
</body>
</html>
