@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,500,700);
* { box-sizing: border-box; }

body {
    background-image: url('../images/back2.webp');
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*background: #131313;*/
    font-family: "Raleway", serif;
}

.card {
    width: 650px;
/ / height: 375 px;
    position: absolute;
    background: white;
    margin: 0 auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    transition: all 0.3s;
}

button:hover {
  box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.auth {
    width: 100px;
    margin: 3em auto;
}

header,
footer {
    background-color: #080710;
    width: 100%;
    overflow: hidden;
    color: white;
}

.home {
    font-size: xx-large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #ffffff;
    text-decoration: none;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    /*padding: 10px;*/
}

header h1 {
    display: inline-block;
    background-color: #080710;
    color: white;
    margin-bottom: auto;
}

header nav {
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    right: 0;
    bottom: 8px;
    color: white;
}

header nav>* {
    float: left;
}

nav a {
    margin: 0 0.5em;
    color: #ffffff;
    text-decoration: none;
}

nav a:hover {
    cursor: pointer;
    color:  #5dade2;
    font-weight: bolder;
}

.home:hover {
    color: #5dade2;
}

.photo {

    padding: 30px;
    width: 45%;
    text-align: center;
    float: left;
}

img {
    max-height: 240px;
}

.description {
    padding: 30px;
    float: left;
    width: 55%;
    border-left: 2px solid #efefef;
}

h1 {
 color: #515151;
 font-weight: 300;
 padding-top: 15px;
 margin: 0;
 font-size: 30px;
}

h2 {
    color: #515151;
    margin: 0;
    text-transform: uppercase;
    font-weight: 500;
}

h4 {
     margin: 0;
     color: #727272;
     text-transform: uppercase;
     font-weight: 500;
     font-size: 12px
}

p {
     font-size: 12px;
     line-height: 20px;
     color: #727272;
     padding: 20px 0;
     margin: 0;
}

button {
   outline: 0;
    background: none;
   border: 1px solid #d9d9d9;
   padding: 8px 0;
   margin-bottom: 30px;
   color: #515151;
   text-transform: uppercase;
   width: 125px;
   font-family: inherit;
   margin-right: 5px;
   transition: all 0.3s ease;
   font-weight: 500;
}

.button:hover {
    // background: darken(white, 2%);
    border: 1px solid #aedaa6;
    color: #aedaa6;
    cursor: pointer;
}
