{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/style.css' %}">
    <title>Crypto Portfolio</title>
</head>

<body>
<div id="box">
    <header>

        <h1><a class="home" href="{% url 'index' %}">Crypto Portfolio</a></h1>
        <nav>

            {% if request.user.is_authenticated and not request.user.is_superuser %}
                <a href="{% url 'products' %}">Products</a>
                <a href="{% url 'dashboard' %}">My Portfolio</a>
                <a href="{% url 'details user' pk=user.pk %}">Profile</a>
                <a href="{% url 'logout user' %}">Sign Out</a>
            {% elif request.user.is_superuser %}
                <a href="{% url 'products' %}">Products</a>
                <a href="{% url 'add product' %}">Add Product</a>
                <a href="{% url 'details user' pk=user.pk %}">Profile</a>
                <a href="{% url 'logout user' %}">Sign Out</a>
            {% else %}
                <a href="{% url 'products' %}">Products</a>
                <a href="{% url 'login user' %}">Sign In</a>
                <a href="{% url 'create profile' %}">Create Profile</a>
            {% endif %}
        </nav>
    </header>

    {% block content %}
    {% endblock %}

    <footer>
        Created by Deyan Parvanov
    </footer>

</div>
</body>
</html>
